login-btn {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1e40af;
}

.signup-text {
  margin-top: 1rem;
  font-size: 0.85rem;
}

.signup-text a {
  color: #2563eb;
  text-decoration: none;
}


