.deactivated-page{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f4f7fb;
}

.deactivated-card{
    width:500px;
    background:white;
    border-radius:18px;
    padding:40px;
    text-align:center;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.deactivated-card h1{
    color:#dc2626;
    margin-bottom:15px;
}

.deactivated-card p{
    color:#64748b;
    margin-bottom:25px;
}

.request-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
}

.request-btn:hover{
    background:#1d4ed8;
}

.status-box{
    margin-top:20px;
    background:#eff6ff;
    padding:15px;
    border-radius:10px;
}