.invitation-page {
    padding: 30px;
    background: #f4f7fb;
    min-height: 100vh;
}

.invitation-header {
    margin-bottom: 25px;
}

.invitation-header h1 {
    margin: 0;
    color: #1f2937;
    font-size: 30px;
    font-weight: 700;
}

.invitation-header p {
    color: #6b7280;
    margin-top: 15px;
}

.invitation-nav {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.invitation-nav button {
    padding: 12px 22px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: rgb(53, 18, 227);
    color: #374151;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
    box-shadow: 0 5px 15px rgba(0,0,0,.06);
}

.invitation-nav button:hover{
    background:#2563eb;
    color:white;
    transform:translateY(-2px);
}

.invitation-nav button.active{
    background:#2563eb;
    color:white;
}