.members-container{
    padding:30px;
}

.members-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.search-member{
    width:300px;
    padding:12px;
    border-radius:10px;
    border:1px solid #d1d5db;
}

.members-table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.members-table th{
    background:#1e293b;
    color:white;
    padding:18px;
}

.members-table td{
    padding:16px;
}

.members-table tr:hover{
    background:#eff6ff;
}

.active-badge{
    background:#22c55e;
    color:white;
    padding:6px 15px;
    border-radius:20px;
}

.deactive-badge{
    background:#ef4444;
    color:white;
    padding:6px 15px;
    border-radius:20px;
}

.deactivate-btn{
    background:#dc2626;
    color:white;
    border:none;
    padding:9px 18px;
    border-radius:8px;
    cursor:pointer;
}

.activate-btn{
    background:#16a34a;
    color:white;
    border:none;
    padding:9px 18px;
    border-radius:8px;
    cursor:pointer;
}